<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://owheroapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/2486991a-3219-4348-af90-a359b16c87e6/resourcegroups/heroesproject/providers/Microsoft.Web/sites/OwHeroApi</ResourceId>
    <UserName>$OwHeroApi</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://owheroapi.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>